@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

*
{
	box-sizing: border-box;
	margin: 0;
	padding:0;
	background-color:#24252A;
}

li,a,button
{
	font-family: "Montserrat",Arial;
	font-weight: 500;
	font-size:16px;
	color:#edf0f1;
	text-decoration: none;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:30px 10%;
}

.logo
{
	cursor: pointer;
	
}

.nav-links
{
list-style: none;
}

.nav-links li
{
	display: inline-block;
	padding:0px 20px;
}

.nav-links li a 
{
	transition: all 0.3s ease 0s;
}

.nav-links li a:hover
{
	color:#0088a9;
}

button
{
	padding:9px 25px;
	background-color: rgba(0,13,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	
}

button:hover
{
	background-color: rgb(22, 38, 219);
}
.wrapper-gallery

{
	margin: 0 20vw;
}

p,h1
{
	font-family:"Montserrat",Arial;
	font-size: 18px;
	font-weight: 500;
	color:burlywood;
	cursor: pointer;
}
p:hover
{
    color:chocolate;
	cursor: pointer;
}
h1:hover
{
    color:chocolate;
	cursor: pointer;
	
}

h1
{
	font-size:27px; 
}

p
{
	font-size:30px;
}